body {
  margin: 0;
  background: #0f1117;
  color: #eaeaea;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}
.brand {
  position: fixed;
  top: 15px;
  left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  z-index: 999;
}

.logo {
  width: 50px;   
  height: auto;
}

.brand-text {
  font-size: 13px;
  letter-spacing: 1px;
  opacity: 0.8;
  color: white;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

#typed {
  font-size: 55px;
  color: #7c5cff;
  margin: 0;
}

.hidden {
  opacity: 0;
}

.story {
  max-width: 750px;
  margin: auto;
  padding: 40px;
  line-height: 1.8;
}

.bug-text {
  color: #7c5cff;
}
